.navul{
  /* border: 1px solid red; */
  color:gray;
}
.elements{
  color:gray;
  gap:30px;
}
.GAP{
  /* border: 1px solid red; */
  gap: 24px;

}
.afterNav{
  /* border: 1px solid red; */
  font-size: 6rem;
  /* font-style: italic; */
  font-weight: 600;
}
.inafternavp{
  /* border: 1px solid red; */
  color: blue;
  font-size: 2em;
  text-decoration: underline;
}
.background{
  background-image: url(./dandelion-445228_1280.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 70vh;
  width: 100%;
  position: relative;
}
.bordr{
  position:absolute;
  top:50%;
  /* border: 1px solid red; */
  border-radius: 40px 10px 40px 10px  ;
  height:12vh;
  width: 20%;
  font-size: 1rem;
  background-color: black;
  color:whitesmoke;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; 
*/
text-align: center;

}


.border2{
  /* border: 2px solid red; */
   border-radius: 40px 10px 40px 10px  ;

  position: absolute;
  top:50%;
  left:30%;
  height:12vh;
  width: 20%;
  background-color: black;
  color:whitesmoke;
  text-align: center;
  /* margin-bottom: 15rem; */
  /* margin-left: 20rem; */
}
.border3{
  border-radius: 40px 10px 40px 10px  ;

  position: absolute;
  top:50%;
  left:70%;
  height:12vh;
  width: 20%;
  background-color: black;
  color:whitesmoke;
  text-align: center;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
}

.marquee {
  animation: marquee 10s linear infinite;
  animation-direction: reverse; /* Scrolls from right to left */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.maindiv{
  border: 1px solid red;
  height: 80vh;
  width: 100%;
  background-color: black;
}


.circle {
  width:40%;
  height:40vh; /* Should be the same as the width for a perfect circle */
  background-color: #3498db; /* Color for the outer circle */
  border-radius: 50% ; /* Creates a circular shape */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  position: relative;
  /* To align the inner div vertically */
}

.inner-div {
  width: 30%; /* Adjust the size of the inner div */
  height: 35vh; /* Adjust the size of the inner div */
  background-color:black; 
  /* Color for the inner div */
  /* border-radius: 50%; Creates a circular shape for the inner div */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Text color for the inner div */
}
.hello{
  /* border: 1px solid red; */
  height: 60vh;
}
.upperdiv{
  /* border: 1px solid red; */
  border-radius: 15px;
  color:black;
  background-color: azure;
  position: absolute;
  bottom:90%;
  right: 30%;
}
.upperdiv2{
  color:black;
  background-color: azure;
  position: absolute;
height: 150px;
width: 100px;
  right: 70%;
  top:50%;
}
.child{
  background-color: whitesmoke;
  height: 50vh;
  width: 50%;
  text-align: center;
  font-size: 1.5rem;
  color:black;
  

}
.bigdiv{
  /* border:1px solid red; */
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagediv{
  display:flex;
  justify-content: center;
  align-items: center;
}
.mydiv{
  background-color: rgb(19, 15, 15);
  height: 65vh;
  width: 70%;
  border-radius: 60px 20px 40px 20px ;
  text-align: center;
  font-size: 1.5rem;
  color:whitesmoke;
  margin-top:2rem;
}
.outerchild{
  margin-top: 5rem;
}
.innerchild{
  /* border: 2px solid green; */

  height: 40vh;
}
.divclass{
  /* border:1px solid red; */
  height:55vh;
  width: 70%;
  margin-left: 10%;
  margin-top: 15%;
}
.divclass{
  background-color: white;
  color:black;
}
.paymentgateway{
  /* border:1px solid red; */
  background-color: grey;
  height:20vh;
}

.transaction{
  display: flex;
gap:7rem;}

.secondlastback{
  /* border: 1px solid red; */
  height: 130vh;
  width: 100%;
  background-color:rgb(49, 87, 159);
  border-radius: 60px 20px 20px 20px ;
}
.cardline1{
  border:1px solid red;
  margin-left: 25rem;
  border-radius: 40px 10px 40px 10px ;
  gap:2px;
  height: 35vh;
}
.cardline2{
  border-radius: 40px 10px 40px 10px ;
  height: 35vh;

  /* gap:4px; */

}

.mainfooter{
  /* border: 1px solid red; */
  background-color: black;
  height: 90vh;
  width: 100%;

}
.firstfotter{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}
.inputtype{
  /* border: 1px solid red; */
  height: 7vh ;
  margin-top: 40px;
  width: 30%;
}
.lastbutton{
  height: 7vh ;
  margin-top: 40px;margin-right: 40px;
  width: 10%;
  border-radius: 40px;
}
.horizontal{
  /* border-bottom: whitesmoke; */
  color:whitesmoke;
}
.lasth5{
  color: azure;
  text-decoration: underline;
}
.icons{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  color: aliceblue;
  font-size: larger;
  /* height: 10vh;/ */
  
}